# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover

# Environments
.env
.venv
env/
venv/
ENV/

# IDE files
.idea/
#.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Logs
logs/
*.log

# Misc
.backup
*.bak
*.swp
*.swo

codebase.md
CLAUDE.md
.aidigestignore