{% extends "base.html" %}
{% set titulo_pagina = "Produtos em Destaque" %}
{% block conteudo %}
<div class="row g-3 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6 align-items-stretch">
    {% for p in produtos %}
    <div class="col">
        <div class="card h-100">
            <img src="{{p.imagem}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h6 class="card-title text-center duas-linhas mb-0">{{p.nome}}</h6>
                <p class="card-text text-center max-tres-linhas m-0">
                    {{p.descricao}}
                </p>
                <p class="card-text text-center">
                    <strong>{{p.preco|format_currency_br}}</strong>
                </p>
            </div>
            <div class="card-footer p-3">
                <a href="/produtos/{{p.id}}" class="btn btn-danger w-100">Ver Detalhes</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}