{% extends "base.html" %}
{% set titulo_pagina = "Detalhes do Produto <b>" + produto.nome + "</b>" %}
{% block conteudo %}
<div class="row">
    <div class="col-md-3 mb-3">
        <img src="{{produto.imagem}}" class="img-thumbnail rounded" alt="{{produto.nome}}">
    </div>
    <div class="col-md-9">
        <h2>{{produto.nome}}</h2>
        <p>{{produto.descricao}}</p>
        <p>
            <strong class="text-danger fs-3">{{produto.preco|format_currency_br}}</strong>
        </p>
        <a href="/produtos" class="btn btn-primary">Voltar para Produtos</a>
    </div>
</div>
{% endblock %}