{% extends "base.html" %}
{% set titulo_pagina = "Usuários" %}
{% block conteudo %}
<table class="table table-striped align-middle">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>E-mail</th>
            <th>Telefone</th>
            <th>Data Nasc.</th>
            <th class="text-center">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.nome }}</td>
            <td>{{ usuario.cpf }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.telefone }}</td>
            <td>{{ usuario.data_nascimento.strftime('%d/%m/%Y') }}</td>
            <td class="text-center">
                {% if usuario.tipo == 0 %}
                <a href="/usuarios/promover/{{usuario.id}}" class="btn btn-primary" title="Promover para Administrador">
                    <i class="bi-arrow-up"></i>
                </a>
                {% else %}
                <a href="/usuarios/rebaixar/{{usuario.id}}" class="btn btn-danger" title="Rebaixar para Usuário Comum">
                    <i class="bi-arrow-down"></i>
                </a>
                {% endif %}                
                <a href="/enderecos/{{usuario.id}}" class="btn btn-secondary" title="Gerenciar Endereços">
                    <i class="bi-house"></i>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}